@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pStyles {
    color: rgb(8, 56, 248);
    cursor: pointer;
    text-decoration: none;
}

.pStyles:hover{
    font-size: 17px;
    font-weight: bolder;
}