.input-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 15px;
    justify-content: center;
}

.label-text {
    margin-bottom: 5px;
}

.input-tag {
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(199, 198, 198);
    padding-left: 10px;
    outline: none;
}