/*Declaración de Variables*/
:root{
    --main-bg-color: crimson;
    --font-color: white;
}

.App {
    background-color: var(--main-bg-color);
}

.App > h1 {
    color: var(--font-color);
    font-size: 5rem;
}